.form {
  width: 66rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.form button {
  width: 100%;
}

.cardContainer {
  width: 31.5rem;
  height: 19rem;
  perspective: 1000px;
}

.cardContainer * {
  font-family: "Roboto Mono", monospace;
  color: var(--grey-100);
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardContainer:hover .cardInner,
.flip .cardInner {
  transform: rotateY(180deg);
}

.creditCard {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  background-color: var(--green-200);
  border-radius: 12px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFront::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/public/card-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 0.5;
}

/* .cardFront {
  transform: rotateY(180deg);
} */

.cardBack {
  align-content: center;
  transform: rotateY(180deg);
}

.cardBack::before {
  content: "";
  height: 4rem;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  background-color: var(--grey-400);
  mix-blend-mode: luminosity;
}

.cardLogo,
.cardNumber {
  width: 100%;
}

.cardNumber {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
}

.cardUserInfos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.cardUserInfos span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.cardUserInfos span small {
  color: var(--green-100);
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.75px;
  font-weight: 300;
}

.cardLogo img {
  max-width: 5rem;
}

.creditCard .cardCvv {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.creditCard .cardCvv small {
  font-size: 1rem;
  color: var(--grey-100);
}

.creditCard .cardCvv strong {
  flex: 1;
  background-color: var(--grey-100);
  color: var(--grey-400);
  text-align: right;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.cardInfos {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  gap: 2rem 1.5rem;
}

.cardInfos h1 {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.75px;
  margin-bottom: 1.5rem;
  color: var(--grey-400);
}

.cardInfos div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.cardInfos div::before {
  content: "";
  width: 2.5rem;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
}

.cardInfos div label {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: var(--grey-300);
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.cardInfos div input {
  width: 100%;
  height: 3rem;
  padding: 0 1rem 0 3rem;
  border: 0;
  border-bottom: 2px solid var(--grey-200);
  background-color: transparent;
}

.cardInfos div input:focus {
  border-color: var(--green-100);
}

.cardInfos .formCardNumber::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M3.00488 3H21.0049C21.5572 3 22.0049 3.44772 22.0049 4V20C22.0049 20.5523 21.5572 21 21.0049 21H3.00488C2.4526 21 2.00488 20.5523 2.00488 20V4C2.00488 3.44772 2.4526 3 3.00488 3ZM20.0049 11H4.00488V19H20.0049V11ZM20.0049 9V5H4.00488V9H20.0049ZM14.0049 15H18.0049V17H14.0049V15Z' fill='rgba(8,46,49,1)'%3E%3C/path%3E%3C/svg%3E");
}

.cardInfos .formCardName::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H18C18 18.6863 15.3137 16 12 16C8.68629 16 6 18.6863 6 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11Z' fill='rgba(8,46,49,1)'%3E%3C/path%3E%3C/svg%3E");
}

.cardInfos .formCardValidity {
  flex: 1;
  width: auto;
}

.cardInfos .formCardValidity::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z' fill='rgba(8,46,49,1)'%3E%3C/path%3E%3C/svg%3E");
}

.cardInfos .formCardCvv {
  max-width: 30%;
}

.cardInfos .formCardCvv::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M18 8H20C20.5523 8 21 8.44772 21 9V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V9C3 8.44772 3.44772 8 4 8H6V7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7V8ZM5 10V20H19V10H5ZM11 14H13V16H11V14ZM7 14H9V16H7V14ZM15 14H17V16H15V14ZM16 8V7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7V8H16Z' fill='rgba(8,46,49,1)'%3E%3C/path%3E%3C/svg%3E");
}

.cardInfos h2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  margin: 2rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.5px;
  color: var(--grey-300);
}

.cardInfos h2 strong {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
  color: var(--green-200);
  background-color: var(--green-100);
}

.cardInfos button {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 500;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 8px;
  background-color: var(--green-200);
  color: var(--green-100);
  width: 14rem;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.2s;
}

.cardInfos button:hover {
  background-color: var(--green-100);
  color: var(--green-200);
}

@media screen and (max-width: 576px) {
  .form {
    width: 100%;
    max-width: 100%;
    padding: 2rem 1.5rem;
    flex-direction: column;
    gap: 2rem;
  }

  .cardContainer {
    width: 21.5rem;
    height: 12.75rem;
  }

  .creditCard {
    padding: 1rem;
  }

  .cardBack::before {
    height: 3rem;
    top: 1.5rem;
  }

  .cardLogo img {
    max-width: 3rem;
  }

  .cardNumber {
    font-size: 1.125rem;
  }

  .cardUserInfos span {
    font-size: 1rem;
  }

  .cardUserInfos span small {
    font-size: 0.675rem;
  }

  .cardInfos h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .cardInfos h2 {
    margin: 1rem 0;
  }

  .cardInfos button {
    width: 100%;
  }
}
